body{
    background-color: rgb(231, 235, 236);
    width: 100%;
    position: fixed;
}
header{
    height: 20vh;

    
}
li{
    width: 6em;
    text-align: center;
}
li:hover{
    background-color: rgb(4, 114, 94);
}
section{
    height: 60vh;

   
}
#form{
    margin-top: 4em;
}
footer{
    height: 20vh;
}

@media(width <= 600px) {
    body{
        position:absolute;
    }
    header{
        height:auto;
    }
    #menu-small li{
        width: 3em;
        text-align: center;
    }
    #menu-small li:hover{
        background-color: rgb(4, 114, 94);
    }
}